<div class="container">
  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">

      <%= render "shared/flash_messages" %>

      <h3>View Assignment</h3>

      <%= bootstrap_form_for(:search, :url => assignments_path, method: :get) do |f| %>

        <table>
          <tr>
            <td><strong>From</strong></td>
            <td><strong>To</strong></td>
          </tr>
          <tr>
            <td><%= date_select 'range1', 'date', :order => [:day, :month, :year] %></td>
            <td><%= date_select 'range2', 'date', :order => [:day, :month, :year] %></td>
          </tr>
        </table>

        <input name="limit" value="<%= @limit %>" type="hidden">

        <%= f.submit 'Search', class: 'btn sign-up-button' %>
      <% end %>
    </div>
  </div>



  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <div id="table">
        <%= render :partial => 'assignment_table' %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-6">
      <%= page_entries_info @shifts %>
    </div>

    <div class="col-md-2">
      <%= form_tag assignments_path(), method: :get, id: 'limit_form' do %>
        <label>Per Page</label>

        <%= select_tag :limit, options_for_select([10, 25, 50, 100], selected: @limit) %>

        <% if params.has_key?(:range1) && params.has_key?(:range2)  %>
          <%= hidden_field_tag "range1[date(3i)]", "#{params[:range1]["date(3i)"]}" %>
          <%= hidden_field_tag "range1[date(2i)]", "#{params[:range1]["date(2i)"]}" %>
          <%= hidden_field_tag "range1[date(1i)]", "#{params[:range1]["date(1i)"]}" %>
          <%= hidden_field_tag "range2[date(3i)]", "#{params[:range2]["date(3i)"]}" %>
          <%= hidden_field_tag "range2[date(2i)]", "#{params[:range2]["date(2i)"]}" %>
          <%= hidden_field_tag "range2[date(1i)]", "#{params[:range2]["date(1i)"]}" %>

        <% end %>
      <% end %>

      <script type="text/javascript" >
        $('#limit').change(
          function() {
            $('#limit_form').submit();
        });
      </script>
    </div>
  </div>

  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">
      <%= paginate @shifts, window: 1, left: 1, right:1 %>
    </div>
  </div>

</div>
