<table class="table">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Vehicle</th>
      <th>Status</th>
    </tr>
  </thead>

  <% @deliverers.each do |deliverer| %>
    <tr>
      <th><%= deliverer.id %></th>
      <td><%= link_to deliverer.name, edit_deliverer_path(deliverer) %></td>
      <td><%= deliverer.phone %></td>
      <td><%= deliverer.vehicle.capitalize %></td>
      <td><%= deliverer.active_to_s %></td>
    </tr>
  <% end %>
</table>
<%= link_to_next_page @deliverers, 'Next Page' %>
<%= link_to_prev_page @deliverers, 'Previous Page' %>
<%= rel_next_prev_link_tags @deliverers %>

<%= page_entries_info @deliverers %>
