<table class="table">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Vehicle</th>
      <th>Status</th>
    </tr>
  </thead>

  <% @deliverers.each do |deliverer| %>
    <tr>
      <th><%= deliverer.id %></th>
      <td><%= link_to deliverer.name, edit_deliverer_path(deliverer) %></td>
      <td><%= deliverer.phone %></td>
      <td><%= deliverer.vehicle.capitalize %></td>
      <td><%= deliverer.active_to_s %></td>
    </tr>
  <% end %>
</table>
