<div class="container">
  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">

      <%= render "shared/flash_messages" %>

      <h1>All deliverers</h1>

    </div>
  </div>

  <div class="row bottom-buffer">

    <%= search_form_for @query, url: deliverers_path, method: :get do |f| %>
      <div class="col-md-offset-2 col-md-2">
        <%= f.text_field :name_cont, placeholder: 'Name', class: 'form-control' %>
      </div>

      <div class="col-md-2">
        <%= f.text_field :phone_cont, placeholder: 'Phone', class: 'form-control' %>
      </div>

      <div class="col-md-2">
        <%= f.select :vehicle_eq,
              Deliverer.vehicles.keys.map { |k|
                [k.capitalize, Deliverer.vehicles[k]]
              }.unshift(["Vehicle", ""]), { :include_blank => false }, :class => "form-control" %>
      </div>

      <div class="col-md-2">
        <%= f.select :active_eq,
              Deliverer.statuses.keys.map { |k|
                [k.capitalize, Deliverer.statuses[k]]
              }.unshift(["Status", ""]), { :include_blank => false }, :class => "form-control" %>
      </div>

      <div class="col-md-offset-2 col-md-8">
        <%= f.submit 'Filter', class: 'btn sign-up-button' %>
      </div>
    <% end %>

  </div>


  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div id="table">
        <%= render 'deliverers_table'%>
      </div>
    </div>
  </div>

  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">
      <div id="paginator-info">
        <%= page_entries_info @deliverers %>
      </div>
    </div>
  </div>

  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">
      <div id="paginator">
        <%= paginate @deliverers, window: 1, left: 1, right:1, :remote => true %>
      </div>
    </div>
  </div>

</div>
