<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <h3>Create Deliverer</h3>

      <%= render "shared/flash_messages" %>

      <%= bootstrap_form_for(@deliverer) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name,
	           placeholder: 'name',
	           class: 'form-control',
             value: params[:name] %>

        <%= f.label :phone %>
        <%= f.text_field :phone,
	           placeholder: 'phone',
	           class: 'form-control',
             value: params[:phone] %>

        <%= f.label :email %>
        <%= f.text_field :email,
     	       placeholder: 'email',
     	       class: 'form-control',
             value: params[:email] %>

        <%= f.label :vehicle %>
        <%= f.select :vehicle, Deliverer.vehicles.keys.map { |w| [w.capitalize, w] },
              selected: params[:vehicle] %>

        <%= f.label :active %>
        <%= f.check_box :active, checked: (params[:active] == "1") %>


        <%= f.submit 'Create', class: 'btn sign-up-button' %>
      <% end %>
    </div>
  </div>
</div>
