<div class="container">
  <div class="row">


    <div class="col-md-offset-2 col-md-8">
      <h3>Create Deliverer</h3>

      <%= bootstrap_form_for(@deliverer) do |f| %>

      <%= render "shared/flash_messages" %>


        <%= f.label :name %>
        <%= f.text_field :name,
	           placeholder: 'name',
	           class: 'form-control' %>

        <%= f.label :phone %>
        <%= f.text_field :phone,
	           placeholder: 'phone',
	           class: 'form-control' %>

        <%= f.label :vehicle %>
        <%= f.select :vehicle, Deliverer.vehicles.keys.map { |w| [w.capitalize, w] } %>

        <%= f.label :active %>
        <%= f.check_box :active %>


        <%= f.submit 'Create', class: 'btn sign-up-button' %>
      <% end %>
    </div>
  </div>
</div>
