<div class="container">
  <div class="row">
  <div class="col-md-offset-4 col-md-4">

    <h1>All deliverers</h1>

    <table>
      <tr>
        <td><strong>ID</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>Phone</strong></td>
        <td><strong>Vehicle</strong></td>
        <td><strong>Status</strong></td>
      </tr>
      <% @deliverers.each do |deliverer| %>
        <tr>
          <td><%= deliverer.id %></td>
          <td><%= link_to deliverer.name, edit_deliverer_path(deliverer) %></td>
          <td><%= deliverer.phone %></td>
          <td><%= vehicle_helper deliverer.vehicle %></td>
          <td><%= active_helper deliverer.active %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <%= button_to "Create new Deliverer", new_deliverer_path, :method => "get",
        class: "btn sign-up-button"%>

  <h1>All shifts</h1>

  <table>
    <tr>
      <td><strong>ID</strong></td>
      <td><strong>Start Time</strong></td>
      <td><strong>End Time</strong></td>
      <td><strong>Max Count</strong></td>
    </tr>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.id %></td>
        <td><%= link_to shift.start_time, edit_shift_path(shift) %></td>
        <td><%= shift.end_time %></td>
        <td><%= "#{shift.deliverer.count}/#{shift.max_count}" %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= button_to "Create new Shift", new_shift_path, :method => "get",
      class: "btn sign-up-button"%>
</div>
</div>
</div>


<div class="container" id="sign-up-form">
  <div class="row">


    <div class="col-sm-offset-4 col-sm-4">

      <%= render "shared/flash_messages" %>

      <h3>Shifts Assignment</h3>

      <%= bootstrap_form_for(@assignment) do |f| %>
        <%= f.select :deliverer_id, @deliverers.map{ |d| ["#{d.id} - #{d.name}", d.id] } %>
        <%= f.select :shift_id, @shifts.map{ |s| ["#{s.id} - #{s.start_time}", s.id] } %>

        <%= f.submit 'Assign', class: 'btn sign-up-button' %>
      <% end %>
    </div>
  </div>
</div>
