<div class="container">
  <div class="row">
  <div class="col-md-offset-4 col-md-4">

    <%= render "shared/flash_messages" %>

    <h1>All deliverers</h1>

    <%= render 'deliverers_table' %>

    <br>
    <%= button_to "Create Deliverer", new_deliverer_path, :method => "get",
        class: "btn sign-up-button"%>

  <h1>All shifts</h1>

  <%= render 'shifts_table' %>

  <br>
  <%= button_to "Create Shift", new_shift_path, :method => "get",
      class: "btn sign-up-button"%>
</div>
</div>
</div>

<%= render 'shift_assignment_form' %>
<%= render 'view_assignment_form' %>
