<div class="container">
  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">

      <%= render "shared/flash_messages" %>

      <h1>All deliverers</h1>


      <%= button_to "Create Deliverer", new_deliverer_path, :method => "get",
        class: "btn sign-up-button"%>
    </div>
  </div>

  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">
      <h1>All shifts</h1>

      <%= button_to "Create Shift", new_shift_path, :method => "get",
          class: "btn sign-up-button"%>

    </div>
  </div>

  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">
      <%= render 'shift_assignment_form' %>
    </div>
  </div>

  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">
      <%= render 'view_assignment_form' %>
    </div>
  </div>



</div>
